body{
    background-color:black;
    padding:100px;
}
button{
    color:rgb(48, 48, 125);
    background-color:rgb(152, 152, 85);
}
.container{
    background-color:rgb(105, 22, 22);
    margin-left:550px;
    height:400px;
    width:300px;
    padding:10px;
     border-radius:10px;
}

.container .display{
    background-color:rgb(105, 159, 159);
    width:280px;
    height:40px;
    text-align:center;
    vertical-align:center;
    margin:10px;
    border-radius:10px;

}

.numOps{
    display:flex;
}
.nums{
    margin:20px;
    display:flex;
    flex-wrap:wrap;
    width:150px;
    height:420px;
     gap:1em;
     align-content:start;
}
.nums button{
    height:30px;
    width:30px;
    font-size:19px;
    border-radius:5px;
    
   
}
.opS{
    display:flex;
    gap:0.5em;
    flex-direction:column;
    align-content:space-evenly

}
.opS button{
 height:30px;
    width:30px;
    font-size:19px;
      border-radius:5px;
}